@charset 'utf-8';
/* 
 *灰色 #d1d3d7 #9297a0
 *黑色 #4a4a4a #808080
 *蓝色 #007aff
 */
/* apply a natural box layout model to all elements */
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
/* ----- Normalize and Reset -------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary{display:block}
audio, canvas, video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
/* - Document Setup ------------------------------------------------- */
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font:12px/24px 'Microsoft Yahei', 'Open Sans', Helvetica, Arial, sans-serif;color:#383838;margin:0;word-wrap:break-word;word-break:keep-all;background:#f3f3f3}
a{text-decoration:none;outline:0;-webkit-transition-property:background color;-webkit-transition-duration:.12s;-webkit-transition-timing-function:ease-out;-moz-transition-property:background color;-moz-transition-duration:.12s;-moz-transition-timing-function:ease-out;-o-transition-property:background color;-o-transition-duration:.12s;-o-transition-timing-function:ease-out;transition-property:background color;transition-duration:.12s;transition-timing-function:ease-out}
a:hover{cursor:pointer}
a:focus{outline:thin dotted}
a:hover, a:active{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0;line-height:2em;vertical-align:middle}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b, strong{font-weight:bold}
blockquote{font-style:italic;font-family:Georgia, Times, "Times New Roman", serif;padding:2px 0;padding-left:2em;padding-right:0.8em;border-style:solid;border-color:#ccc;border-width:0;border-left-width:5px}
mark{background:#ff0;color:#000}
.entry-content code, .entry-content pre, kbd, samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before, q:after{content:'';content:none}
small{font-size:60%;color:#9297a0;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl, menu, ol, ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu, ol, ul{padding:0 0 0 40px}
nav ul, nav ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button, input, select, textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button, input{line-height:normal}
button, input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled], input[disabled]{cursor:default}
input[type="checkbox"], input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
#page-header, #primary{font-size:14px;border-bottom:2px #e3e5e5 solid}
#primary{font-size:14px}
#site-footer{font-size:12px}
#page-header, #primary, #site-footer{background:url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) repeat repeat;margin:0 auto}
.zh_click{border:1px solid #efeff4;padding:2px 6px}
.current{color:#fff;background:#007aff;border-radius:4px}
.layout{width:100%;white-space:nowrap;overflow:hidden}
.textwidget{padding:10px 0}
/* -- Responsive Grid ------------------------------------------------------------- */
.column{margin-left:4.4%;float:left;min-height:1px;position:relative;margin-bottom:1.5em}
.column:first-child{margin-left:0}
.row .col-half{width:47.78%}
.row.half-gutter .col-half:nth-child(3n+4){margin-left:0;clear:left}
.row .col-third, .row-fixed .col-third, .row-adaptive .col-third{width:30.4%}
.row.half-gutter .col-third:nth-child(3n+4){margin-left:0;clear:left}
.row .col-fourth{width:21.7%}
.row.half-gutter .col-fourth:nth-child(4n+5){margin-left:0;clear:left}
.row .col-fifth, .row-fixed .col-fifth, .row-adaptive .col-fifth{width:16.48%}
.row .col-sixth, .row-fixed .col-sixth, .row-adaptive .col-sixth{width:12.98%}
.clearfix{*zoom:1}
.clearfix:after{display:table}
.clearfix:after{clear:both}
.entry-content img, .comment-content img, .widget img{max-width:100%}
img[class*="align"], img[class*="wp-image-"], img[class*="attachment-"]{height:auto}
img.size-full, img.size-large, img.header-image, img.wp-post-image{max-width:100%;height:auto}
/* Make sure videos and embeds fit their containers */
embed, iframe, object, video{max-width:100%}
/* - Entry Content Styling ----------------------------------------------- */
.entry-content p, .entry-content ul, .entry-content ol, .entry-content dl, .entry-content code, .entry-content pre, .entry-content table{word-wrap:break-word;word-break:normal}
.entry-content embed, .entry-content iframe, .entry-content object, .entry-content video{margin-bottom:24px}
.entry-content.excerpt{color:#808080;font-size:0.9em}
.entry-content hr{border-bottom:1px solid #e6e6e6;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3}
.entry-content>a, .entry-content>strong{font-weight:600}
.entry-content{font-size:14px}
.entry-content ul, .entry-content ol{margin:0;padding:0}
.entry-content ul li{list-style-image:url(data:image/gif;base64,R0lGODlhBQAIAIABANXS0v///yH5BAEAAAEALAAAAAAFAAgAAAIHhI+pGO0PCwA7)}
.entry-content ul li, .entry-content ol li{margin:6px 0 6px 13.6666px}
.entry-content code, .entry-content pre{display:block;font-family:Menlo, Monaco, Consolas, "Courier New", monospace;font-size:13px;line-height:22px;word-break:break-all;word-wrap:break-word}
.entry-content code{display:block;line-height:22px;overflow-x:auto;white-space:pre;word-wrap:normal;border-radius:4px;padding:8px;background-color:#eee}
.entry-content code ol{margin:0;overflow:hidden}
.entry-content code ol li{list-style-type:none;margin-left:0;margin-top:0;height:22px}
.entry-content pre{padding:20px}
.entry-content .page-title, .entry-content .shici, .entry-content .bread{width:100%;text-align:center}
#primary .page-title, .entry-content .page-title{font-family:AvenirNextLTPro-Demi;font-size:28px;color:#2e3039;letter-spacing:0;text-align:left;line-height:34px;display:block;table-layout:fixed;word-break:break-all;overflow:hidden;padding-top:20px;padding-bottom:20px;margin:0}
.shici pre{font-size:1em;color:#000}
.shici .bread, .entry-content .bread{font-size:12px;color:#a1a1a1}
.entry-content table{background:#fafafa;border:1px solid #E5E5E5;line-height:2;width:100%}
.entry-content table thead, .entry-content table tfoot{background:#f2f2f2}
.entry-content table td, .entry-content table th{border-top:1px solid #E5E5E5;border-left:1px solid #E5E5E5;padding:8px;vertical-align:top;line-height:1.42}
.entry-content table td:first-child, .entry-content table th:first-child{border-left:none}
.entry-content table tbody tr:nth-child(even){background:#fff}
.entry-content>.intro{line-height:28px;font-size:20px}
.alignleft{float:left}
.alignright{float:right}
.aligncenter{display:block;margin-left:auto;margin-right:auto}
.wp-caption{max-width:100%;padding:4px}
.wp-caption .wp-caption-text, .entry-caption{font-size:12px;color:#595959;text-align:center;background:#F5F5F5;display:table;margin:5px auto 0;padding:5px 20px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
img.wp-smiley{border:0;border-radius:0;box-shadow:none;margin-bottom:0;margin-top:0;padding:0}
.entry-content dl.gallery-item{margin:0}
img.alignleft{margin-right:24px}
img.alignright{margin-left:24px}
.entry-content article.yuedu-list div ul li{width:33%;display:inline-table}
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{background:#fff;border:1px solid #E5E5E5;color:#383838;padding:1em;outline:0;margin:0;text-align:left;vertical-align:top;*padding-top:2px;*padding-bottom:1px;*height:auto;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
textarea:focus, select:focus, input:focus{background:#fcfcfc}
textarea[disabled], select[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled]{background-color:#eeeeee}
input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled], a.button_disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-moz-user-select:-moz-none;-webkit-user-select:none;-khtml-user-select:none;user-select:none;color:#888888;cursor:default}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#888888}
input:-moz-placeholder, textarea:-moz-placeholder{color:#888888}
textarea{min-height:40px;overflow:auto;resize:vertical;width:100%}
input[type="reset"], input[type="submit"], input[type="button"]{color:#fff;border:none;-webkit-appearance:none;cursor:pointer;display:inline-block;outline:0;overflow:visible;margin:0;padding:0.5em 1em;text-decoration:none;vertical-align:top;width:auto;-webkit-transition-property:background;-webkit-transition-duration:.12s;-webkit-transition-timing-function:ease-out;-moz-transition-property:background;-moz-transition-duration:.12s;-moz-transition-timing-function:ease-out;-o-transition-property:background;-o-transition-duration:.12s;-o-transition-timing-function:ease-out;transition-property:background;transition-duration:.12s;transition-timing-function:ease-out}
input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover{text-decoration:none}
input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active{-webkit-box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;-moz-box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;box-shadow:inset rgba(0, 0, 0, 0.25) 0 1px 2px 0}
input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{border:0;padding:0}
textarea, select[size], select[multiple]{height:auto}
input[type="search"]::-webkit-search-decoration{display:none}
#page-header, #primary, #site-footer{padding:0 15px;max-width:1040px;margin:0 auto}
#primary, #site-footer{border-top:1px #efeff4 solid;margin-top:7px;overflow:auto;zoom:1}
#primary .sidebar-right #sidebar{padding-right:30px;right:-1px}
#primary.sidebar-left #sidebar{left:-1px}
#primary .sidebar-right .entry-content li{width:48%;display:inline-table;white-space:pre-wrap;word-wrap:break-word;word-break:break-word}
.widget.clearfix .widget-title, .widget.clearfix h2{font-size:15.66666px;color:#9297a0;font-weight:normal}
.widget.st_popular_articles_widget.clearfix{border-bottom:0px}
.widget.widget_links.clearfix ul li, .widget.widget_pages.clearfix ul li, .widget.widget_tag_cloud.clearfix a, .widget.widget_categories.clearfix ul li{line-height:1.75em;display:inline-table;padding:0 10px 0 5px}
.widget.widget_tag_cloud.clearfix ul li::after, .widget.widget_categories.clearfix ul li::after{content:"/";color:#eee;margin:0 0 0 15px}
.widget.widget_categories.clearfix .cat-item-1::after{content:""}
.widget.st_popular_articles_widget.clearfix li{width:50%;float:left;padding-right:10px}
.widget.clearfix ul li:nth-last-child(1)::after{content:""}
.box.widget.clearfix{width:310px;display:inline-block}
.widget.clearfix ul li{word-wrap:normal;white-space:normal;overflow:hidden;text-overflow:ellipsis}
#site-header .page-title,#site-header .page-title a{color: #4A4A4A !important;}
#site-header #logo{float:left}
/*#site-header #logo h1{margin:0;font-size:32px}*/
#site-header #logo, #site-header #logo a{font-size:32px;color:#1a1a1a;text-decoration:none;font-weight:bold;letter-spacing:-1px}
#site-header #logo img{display:block;max-width:100%}
#footer{border-top:1px solid #E8E8E8;padding:30px 0;margin:0;font-size:13px}
#footer-widgets{font-size:13px;line-height:22px}
#footer-widgets .widget{margin-bottom:0}
#footer-widgets .widget-title{font-size:16px;margin:0 0 30px;color:#2e3039;line-height:16px}
#footer-widgets .widget-title span{background:#F5F5F5}
#footer-widgets .widget.st_articles_widget li, #footer-widgets .widget.st_popular_articles_widget li{margin:0 0 10px}
#site-footer{color:#444;font-size:1em;clear:both}
#site-footer #footer-nav{float:left}
#footer-nav ul{margin:2px 0 0;padding:0;list-style:none}
#footer-nav li{display:inline-block;margin:0 15px 0 0;line-height:25px}
#footer-nav li:after{content:"/";color:#eee;margin:0 0 0 15px}
#footer-nav li:last-child:after{content:""}
#footer-nav a, #footer-nav a:visited{border-bottom:none;color:#444}
#site-footer #copyright{float:right;font-size:13px;margin:10px 0 0}
.row.stacked>div>div>li{list-style:none}
#page-header .page-title{display:inline-block;padding:10px 0}
#page-header #zh_st{padding:10px 0;text-align:right;float:right;font-size:12px;vertical-align:bottom}
.error404 #page-header{margin:60px 0 100px;border:none;text-align:center}
#page-header .page-title{font-size:20px;line-height:24px;margin:0 0 6px;color:#007aff}
#page-header p{color:#808080;font-size:16px;margin:0 0 6px}
.entry-title{margin:0 0 12px}
.entry-title, .entry-title a, .entry-title a:visited{font-size:18px;color:#45454C;text-decoration:none;line-height:2em;letter-spacing:-0.5px}
.entry-thumb{margin:8px 0 0 20px;float:right}
.entry-thumb a{display:block;line-height:0}
.entry-thumb img{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.entry-video{margin:0 0 25px}
.tags{display:block;font-size:12px}
.tags a, .tags a:visited{display:inline-block;padding:5px 10px 5px 1px;position:relative;color:#8a8a8f;font-size:1em;line-height:11.555px;text-decoration:none}
.tags a:visited{padding:5px}
.tags a:hover{background:#4a4a4a;color:#fff;text-decoration:none;padding:5px}
.tags a:hover:before{border-color:transparent #4a4a4a transparent transparent}
/* .part, .widget.widget_entries{border-bottom:2px #f3f3f3 solid} */
.part:last-child{border-bottom:0}
.part span{color:#ff9d33}
.readmore{display:block;font-style:italic;text-decoration:none}
.audio audio{max-width:100%;line-height:1.7em;height:1.7em;vertical-align:middle;border-radius:3px}
.page-links{margin:0 0 15px}
.page-links strong{margin:0 15px 0 0}
.page-links a, .page-links span{font-size:12px;margin:0 2px 0 0;padding:4px 10px;border-radius:99%;-moz-border-radius:99%;-webkit-border-radius:99%}
.page-links a{background:#F5F5F5;border:1px solid #E6E6E6;color:#666}
.page-links span{color:#fff}
.widget{margin:20px auto}
.widget ul{padding:0;margin:0;list-style:none}
.widget a:visited{color:#45454C;text-decoration:none}
.widget li:last-child{border-bottom:none}
.widget ul ul{margin:10px 0 0 10px}
.widget hr.sptln{border:0.5px dashed #E6E6E6}
.widget_categories ul span{color:#fff;font-size:11px;display:block;float:left;margin:0 10px 0 0;padding:5px 7px;line-height:100%;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.widget_categories ul ul{margin:10px 0 0 20px}
.widget_categories ul li{clear:both;line-height:18px;margin:10px 0}
.widget_entries ul{font-size:1em}
.widget_meta li, .widget_nav_menu li, .widget_pages li, .widget_archive li, .widget_recent_comments li{padding:0 0 0 20px;position:relative}
.widget_meta li:before, .widget_nav_menu li:before, .widget_archive li:before, .widget_recent_comments li:before{font-family:"Microsoft YaHei", "Arial", STXihei, serif;content:" ";position:absolute;top:0;left:0}
.widget_entries li{margin:0 0 10px}
.widget_search #s{width:100%;padding:8px}
#sidebar .widget_search #s{background:#fff}
.widget_entries.reccomend ul li a{color:#4a4a4a !important;font-weight:bold}
/* - Live Search ------------------------------------------------ */
#live-search{margin-bottom:10px}
#live-search #searchform{width:100%;background:#fff;position:relative;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#live-search #s{width:100%;border:0;background:#f4f6f7;padding:8px 0;line-height:19px;padding-left:7px;border-radius:4px;outline:0}
#live-search #searchsubmit{position:absolute;right:0;top:0;color:#fff;line-height:19px;padding:8px 18px;text-transform:uppercase;border:none;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#live-search #searchsubmit:hover{background-color:#4A4A4A}
#live-search #searchsubmit i{margin:0 5px 0 0}
#search-wrap{position:relative}
/*--- Author Page -------------------------------------------------*/
.author #entry-author{border-bottom:1px solid #E6E6E6;margin:0 0 30px;padding:0 0 30px}
/* st theme */
a, a:visited{color:#007aff}
a:hover, .widget a:hover, #primary-nav ul a:hover, #footer-nav a:hover, #breadcrumbs a:hover{color:#007aff}
input[type="reset"], input[type="submit"], input[type="button"]{background:#007aff}
#live-search #searchsubmit, input[type="submit"]{background-color:#007aff}
.tags a:before{border-color:transparent#007aff transparent transparent}
#primary-nav{top:px}
/* leo */
.page-download-declaration li, .page-links-content li{margin:0 0 0 13.6666px}
h2.comments-title, h4.page-title{margin-top:0!important;color:#5d7687!important;text-align:center;font-size:1em}
.entry-thumbnail{margin:0 20px 0 0}
.entry-thumbnail img{width:200px;height:130px}
.entry-aside-thumbnail{margin-bottom:10px;width:100%}
.entry-aside-thumbnail img{width:100%;height:200px}
.aside-content{overflow:hidden;margin-bottom:10px!important;padding-bottom:10px!important;border-bottom:1px dashed #eee}
.entry-header .entry-title.h4{margin-bottom:20px!important;text-align:center;font-weight:600}
.entry .entry-title.h4{text-align:center;width:auto;margin:0 0 15px 0!important;letter-spacing:2px}
.entry .entry-title.h4 a{transition-duration:.3s}
.entry.gray{color:#979494}
.entry-header-meta{text-align:center}
.entry-header-meta span{padding:10px 10px 10px 0}
.entry .entry-content{color:#999;text-indent:2em}
.entry-more a{float:right!important}
.entry-thumbnail, .weight_thumbnails_img, .related-thumbnail{position:relative;overflow:hidden;cursor:pointer}
.entry-thumbnail img, .weight_thumbnails_img img, .related-thumbnail img{transition:all .5s}
.entry-thumbnail:hover img, .weight_thumbnails_img:hover img, .related-thumbnail:hover img{transform:scale(1.5)}
.entry-breadcrumb-msg .breadcrumb{margin-bottom:0!important;padding:0 15px!important;background-color:transparent!important}
.entry-breadcrumb-msg .breadcrumb ol{margin-bottom:0!important}
.entry-breadcrumb-msg, .entry-breadcrumb-msg a{color:#545a5f!important}
.entry-title.h3, h3.page-guestbook-title, h3.page-links-title{text-align:center}
.entry-header{overflow:hidden;margin-top:0!important}
.entry-content .alignleft{float:left}
.entry-content .aligncenter, .entry-content .alignleft{display:block;margin:0 auto}
.entry-content .alignright{float:right;display:block;margin:0 auto}
.entry-post-nav{overflow:hidden;margin-bottom:15px;border-radius:2px;background:#fff;border:1px solid #eee;display:block}
.entry-post-nav-left{width:50%;text-align:left;display:block;padding:15px;border-right:1px solid #eee}
.entry-post-nav-left:hover, .entry-post-nav-right:hover{background-color:#222F3E;opacity:0.95}
.entry-post-nav-left a:hover, .entry-post-nav-right a:hover{color:#fff!important}
.entry-post-nav-left a:before{left:0;margin-right:5px;content:" ";font-family:FontAwesome}
.entry-post-nav-right{width:50%;text-align:right;display:block;padding:15px}
.entry-post-nav-right a:after{left:0;margin-left:5px;content:" ";font-family:FontAwesome}
.entry-content img{height:auto;max-width:100%;vertical-align:middle}
#entry-content-index{float:right;margin-left:10px;margin-bottom:10px;padding:6px 10px;min-width:90pt;border:1px solid #eee;border-radius:2px;background:#fdfdfd;line-height:24px}
#entry-content-index-control{position:absolute;right:45px;color:red;cursor:pointer}
#entry-content-index b{display:block;font-weight:700;line-height:30px}
#entry-content-index ul{margin:0 0 0 18px}
#article-list{-webkit-transition:width .8s ease;transition:width .8s ease}
.entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5{overflow:hidden;font-weight:normal;color:#9297a0;letter-spacing:0;text-align:left;line-height:26px}
.entry-content h1{font-weight:700}
.entry-content h2{font-size:15.66666px;background-color:#f9f9f9}
.entry-content h3{font-size:15px;color:#ff9d33}
.entry-content h4{font-size:15px;color:#ff9d33}
.entry-content h5{font-size:15.66666px}
.entry-content h6{font-size:15.66666px}
.entry-content h6{height:40px;line-height:40px;width:40px;font-size:18px;color:#fff;font-weight:normal;margin:10px auto;background:#FF5E52;text-align:center;border-radius:50px}
.entry-dl-author, .entry-dl-demo, .entry-dl-name, .entry-dl-title, .entry-dl-update, .entry-dl-url{padding:7px 0;padding-left:15px;line-height:1.8em}
.entry-dl-author, .entry-dl-demo, .entry-dl-update, .entry-dl-url{width:50%}
.entry-dl-author, .entry-dl-name, .entry-dl-title, .entry-dl-update{border-bottom:1px solid #eee}
.entry-dl-info{overflow:hidden;margin-bottom:10px;border:1px solid #222F3E;border-radius:2px}
.entry-dl-title{background-color:#222F3E}
.entry-dl-title i{margin-right:10px}
.entry-info ul, .related-info ul{margin-bottom:0 !important}
.entry-content ol{counter-reset:li!important;list-style:decimal!important}
.entry-content ol li{position:relative;display:block;padding:0.4em 0.4em 0.4em 2em;margin:0.5em 0;color:#000;border:1px solid #222F3E;text-decoration:none;border-radius:12px;-moz-transition:all 0.3s ease-out;-webkit-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.entry-content ol li:before{content:counter(li);counter-increment:li;position:absolute;left:-15px;top:50%;color:#fff;margin-top:-16px;background:#222F3E;height:30px;width:30px;line-height:24px;border:3px solid #222F3E;text-align:center;font-weight:bold;border-radius:30px;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.entry-content ol li:hover{border:1px solid #FF5E52}
.entry-content ol li:hover:before{background:#FF5E52;border:3px solid #FF5E52;-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
/** top menu **/
.widget_categories li.widget-title{font-weight:bold;padding-left:0 !important}
.widget_categories li.current{background:#fff}
.widget_categories li.current a{color:#007aff}
.widget_categories ul span#more{display:none}
.widget_categories ul li:nth-last-child(1)::after{content:"" !important}
.menu li{width:33.33333%;float:left}
/* .menu li{display:inline-table} */
.copyright{padding:10px 15px;line-height:14px;color:#9297a0}
/* dushu.io */
._fsr2 img{width:100%;height:auto;padding:0 10px}
._fsr2, .ydkt{text-align:center;padding:0 25px 5px 25px;line-height:22px;color:#ea5f43;font-weight:600;font-size:16px}
.bk_ewm{margin:10px 25px 25px 25px;padding:25px 0;overflow:hidden}
.info1, .info2{display:block;color:#808080;font-size:12px}
.bk_ewm img{width:100%;padding:20px}
.module, .hidden{display:none}
/* dict tab content */
#tabnav{line-height:2em;text-align:center;background-color:#fff}
#tabnav div{display:inline-block;width:20%;border-right:solid 2px #f3f3f3;border-bottom:solid 5px #fff;padding-top:5px}
#tabnav div:last-child{border-right:0}
#tabnav div:hover, #tabnav .active{border-bottom:solid 5px #007aff;background-color:#f3f3f3}
.tabcon{display:inherit}
.slideFixed{-webkit-animation:slideFixed .5s linear;animation:slideFixed .5s linear;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;position:fixed;top:0px}
@-webkit-keyframes slideFixed{0%{-webkit-transform:translateY(-2rem)}100%{-webkit-transform:translateY(0)}}
/* yuedu */
.allcon{height:300px;overflow-y:hidden}
.entry-content .opencon{position:relative;height:40px}
.entry-content .opencon span{position:absolute;left:0;top:-24px;width:100%;height:20px;text-align:center;padding-top:40px;border:none;color:#1777d9;outline:none;background:linear-gradient(-175deg, hsla(0, 0%, 100%, 0), #fff);background:-webkit-linear-gradient(-100deg, rgba(255, 255, 255, 0.19) 0%, #FFFFFF 100%)}
.entry-content .opencon i{display:inline-block;width:6px;height:6px;border-left:1px solid #1777d9;border-bottom:1px solid #1777d9;transform:rotate(-45deg);margin-left:5px;margin-bottom:2px}
.entry-content .pull-yuedu{font-size:18px;line-height:31.5px;overflow:hidden;position:relative;}/*height:800px;*/
.entry-content .pull-yuedu-1{font-size:14px;line-height:24.5px}
.entry-content .pull-yuedu-2{font-size:18px;line-height:31.5px}
.entry-content .pull-yuedu-3{font-size:22px;line-height:38.5px}
.entry-content .pull-yuedu .readmore{background-image:linear-gradient(-180deg,rgba(255,255,255,0) 0%,#fff 50%);position:absolute;z-index:10;width:100%;text-align:center;left:0;right:0;bottom:0;padding-top:178px;}
.widget.pull-ptm, .widget.pull-ptn{margin:5px auto}
.widget.pull-ptm ul{margin:0}
.widget.pull-ptm ul li{width:100px;line-height:1.75em;display:inline-table;padding:0 10px 0 5px;word-wrap:normal;white-space:normal;overflow:hidden;text-overflow:ellipsis;clear:both;margin:10px 0}
.widget.pull-ptn div{display:inline-table}
.widget.pull-ptn .pull-left{width:100px}
.widget.pull-ptn div span{clear:both;padding:2px 5px}
.hutch{display:block;position:fixed;top:30px;width:98%;height:80%;background:#fff;box-shadow:0 0 5px #696969;overflow-y:auto;margin:0 1%;border-radius:2.5px}
.hutch .close{font-weight:bold;float:right;width:2em;height:2em;text-align:center;vertical-align:middle;box-shadow:0 0 2px #696969;margin:2px}
.hutch ul li{list-style-type:auto}
.hutch ul li a{margin-right:5px}
.nav{font-size:12px;margin:20px auto}
.nav a, .nav a:visited{display:inline-block;padding:5px;position:relative;color:#007aff;border:#d1d3d7 solid 0.5px;border-radius:3px;font-size:1em;line-height:11.555px;text-decoration:none}
.nav a:hover{background:#4a4a4a;color:#fff;text-decoration:none;padding:5px}
.nav a:hover:before{border-color:transparent #4a4a4a transparent transparent}
.fixed a{color:#007aff;background:#fff;padding:5px 10px;display:block}
.red{color:red}
/*-------------------- Responsive CSS ---------------------------*/
@media screen and (max-width:480px){
.tags, .nav{display:block}
#live-search #s{width:75%}
.category .sub-categories li{margin:0 0 10px;float:none;width:auto}
.entry-content{border-bottom:2px #f3f3f3 solid}
.entry-content article.yuedu-list div ul li{width:49%;display:inline-table}
}
@media screen and (max-width:720px){
#primary.sidebar-off #content, #primary.sidebar-left #content, #primary.sidebar-right #content, #primary.sidebar-off #sidebar, #primary.sidebar-left #sidebar, #primary.sidebar-right #sidebar{width:100%;float:none;clear:both;margin:0 0 20px;border:none;left:auto;right:auto}
#site-header{text-align:center}
#site-header #logo{float:none;margin:0 auto 24px}
#site-header #logo img{margin:0 auto}
#site-footer #footer-nav, #site-footer #copyright{float:none;text-align:center}
#site-footer #footer-nav{display:block;margin:0 0 20px}
#footer-widgets .widget{margin-bottom:36px}
#primary-nav{display:none}
#primary-nav-mobile{display:block}
#live-search #searchsubmit i{margin:0}
.fixed{display:block;position:fixed;bottom:10%;color:#007aff;font-size:12px;right:1%;box-shadow:2px 2px 10px #e3e5e5}
.module{width:2em;height:2em;text-align:center;line-height:2em;font-size:1.3em;padding:0 8px;color:#fff;box-shadow:0 0 5px rgb(160, 160, 160);background-size:cover;background-color:#f3f3f3;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAATUlEQVRoge3YsQ0AMQgEMOZnTBbJL5AqDXxiS9dzFYgIAIB/ycw1LYpMy1GRqlrTclQEAIiLTpTuoRUBADa6t7gT5doi3c84DzoAeNUHQ6h0KAfEoDwAAAAASUVORK5CYII=)}
.fixed2.module{display:block;position:fixed;right:1%;bottom:1%}
}
@media only screen and (max-width:720px){
.row{width:100%;min-width:0;margin-left:0;margin-right:0}
.row .column{width:auto !important;float:none;margin-left:0;margin-right:0}
.row .column:last-child{margin-right:0;float:none}
.row .column:before, .column:after{content:"";display:table}
.row .column:after{clear:both}
.row.half-gutter .col-sixth{width:31.86%}
.row.half-gutter .column{margin-left:0}
nav.widget_categories ul{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
nav.widget_categories ul span#more{float:right !important}
nav.widget_categories ul span#more{display:inline-table;position:absolute;right:5px}
.bk_ewm, .bk_ewm img{margin:0;padding:0}
.post{margin:0px;padding:0;width:100%;box-sizing:border-box;word-wrap:break-word !important;display:inline-block;background-color:rgba(255, 255, 255, 0.85098)}
}
@media screen and (min-width:720px){
#primary .sidebar-left .double{float:left;width:50%}
#primary .sidebar-right .entry-content li{width:33%}
#primary .sidebar-right{float:right;width:30%}
#primary .sidebar-left{clear:both;width:70%;display:inline-block;padding-right:15px;padding-bottom:10px;min-height:330px}
.row{width:100%;max-width:980px;margin:0 auto;zoom:1;margin-bottom:20px}
.row:before, .row:after{content:"";display:table}
.row:after{clear:both}
.fixed{display:block;position:fixed;background:#fff;color:#007aff;font-size:14px;left:20px;top:100px;box-shadow:0 0 10px #e3e5e5;width:auto}
}
