.tab_pane{
min-height:400px;
}

.box .i {
float: left;
width: 84px;
text-align: right;
line-height: 26px;
margin-bottom: 10px;
}
.box .data {
float: left;
width: 118px;
padding-left: 8px;
margin-bottom: 10px;
}
.box .butt {
float: left;
width: 50px;
margin-bottom: 10px;
}
.tabs_left .tab_content{
width: 600px;
}