
.header_nav {
    height: 51px;
    position: relative;
    background: white;
    z-index: 1;
    -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
.header_inner {
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.left {
    float: left;
}
.header_nav .nav li {
    float: left;
    height: 50px;
}
.header_nav .nav li.active a {
    color: #30D0DF;
    border-bottom: solid 3px #30D0DF;
}
.header_nav .nav a {
    color: #999;
    display: block;
    padding: 0 20px;
    line-height: 52px;
    height: 50px;
	font-size: 100%;
}


ol {    padding: 0;
    margin: 0;
    list-style: none;
}
.toplist li{
        margin: 15px 10px;
}
.toplist label {
    float: left;
    margin: 3px 8px 0 0;
    line-height: 30px;
    color: #999;
    border: 1px solid #E0E3E6;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    height: 27px;
    letter-spacing: -1px;
    font-family: inherit;
    width: 27px;
}
.toplist div {
    overflow: hidden;
    line-height: 24px;
    margin: 0 0 8px;
}

.toplist .name{
    font-size: 14px;
}
.toplist .target {
    font-size: 12px;
    color: #ab9d96;
}
.toplist strong {
    color: #ff6833;
}
.toplist .one{
	color: #ff6833;
}
.toplist .two{
	color: green;
}
.toplist .three{
	color: #1ED0E1;
}
.guanggao{
    border-top: 1px solid #E0E3E6;
    border-bottom: 1px solid #E0E3E6;
}

