BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; COLOR: #000; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serifverdana; TEXT-ALIGN: left
}
BODY DIV {
	MARGIN: 0px auto; OVERFLOW: hidden
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG { vertical-align:middle;
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TR {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
LI {
	LIST-STYLE-TYPE: none
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fd2828; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000
}
.cRed {
	COLOR: #fd2828
}
A.cRed:link {
	COLOR: #fd2828
}
A.cRed:visited {
	COLOR: #fd2828
}
.cBlue {
	COLOR: #0000ff
}
A.cBlue:link {
	COLOR: #0000ff
}
A.cBlue:visited {
	COLOR: #0000ff
}
.cWhite {
	COLOR: #fff
}
A.cWhite:link {
	COLOR: #fff
}
A.cWhite:visited {
	COLOR: #fff
}
A.cWhite:hover {
	COLOR: #fff
}
.cGreen {
	COLOR: #35a400
}
A.cGreen:link {
	COLOR: #35a400
}
A.cGreen:visited {
	COLOR: #35a400
}
.cBlue1 {
	COLOR: #0058b3
}
A.cBlue1:link {
	COLOR: #0058b3
}
A.cBlue1:visited {
	COLOR: #0058b3
}
A.cBlue1:hover {
	COLOR: #fd2828
}
.cGray {
	COLOR: #999999
}
A.cGray:link {
	COLOR: #999999
}
A.cGray:visited {
	COLOR: #999999
}
.fB {
	FONT-WEIGHT: bold
}
.fI {
	FONT-STYLE: italic
}
.fon12 {
	FONT-SIZE: 12px
}
.fon14 {
	FONT-SIZE: 14px
}
.top_input {
	BORDER-RIGHT: #86a5c1 1px solid; BORDER-TOP: #86a5c1 1px solid; BORDER-LEFT: #86a5c1 1px solid; WIDTH: 125px; BORDER-BOTTOM: #86a5c1 1px solid
}
.cityword {
	FONT-SIZE: 18px; LINE-HEIGHT: 24px; FONT-FAMILY: "Microsoft Yahei",Arial;
}
.foot_input {
	BORDER-RIGHT: #86a5c1 1px solid; BORDER-TOP: #86a5c1 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #86a5c1 1px solid; WIDTH: 280px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #86a5c1 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px
}
.hidden {
	DISPLAY: none
}
.Line {
	TEXT-DECORATION: underline
}
.Line A {
	TEXT-DECORATION: underline
}
.noBorder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.suggestTable {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BACKGROUND: #fff; MARGIN: 0px; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.suggestTable EM {
	FLOAT: right; COLOR: green
}
.suggestTable A {
	FONT-SIZE: 14px; FLOAT: left
}
.suggestTable TD {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; HEIGHT: 25px; TEXT-ALIGN: left
}
.suggestTable {
	BORDER-COLLAPSE: collapse
}
.suggestTable TD {
	BORDER-COLLAPSE: collapse
}
TR.trover {
	BACKGROUND: #3366cc
}
TR.trover A:link {
	COLOR: #fff
}
TR.trover EM {
	COLOR: #fff
}
TR.trout {
	BACKGROUND: #fff; COLOR: #000
}
TR.trout A:link {
	COLOR: #000
}
.suggestTable A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.tbSet {
	BORDER-RIGHT: #d9e5f0 1px solid; BORDER-TOP: #d9e5f0 1px solid; BORDER-LEFT: #d9e5f0 1px solid; BORDER-BOTTOM: #d9e5f0 1px solid; BORDER-COLLAPSE: collapse
}
.tbSet TD {
	BORDER-RIGHT: #d9e5f0 1px solid; BORDER-TOP: #d9e5f0 1px solid; BORDER-LEFT: #d9e5f0 1px solid; BORDER-BOTTOM: #d9e5f0 1px solid; BORDER-COLLAPSE: collapse
}
.tbSet {
	MARGIN-TOP: 10px; WIDTH: 98%
}
.tbSet TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.left_nav2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 90px; PADDING-TOP: 4px; HEIGHT: 20px
}
.left_nav2 A {
	DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND:  no-repeat 0px 0px
}
.n_right1 {
	PADDING-LEFT: 20px; BACKGROUND:  no-repeat 0px 0px; FLOAT: right; MARGIN: 0px 4px 15px 20px; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.ska IMG {
	CURSOR: pointer
}
.n_nav LI {
	CURSOR: pointer
}
.more {
	BORDER-RIGHT: #7dc3ed 1px solid; BORDER-TOP: #7dc3ed 1px; FONT-SIZE: 13px; Z-INDEX: 9; BACKGROUND: #fff; MARGIN: 25px 0px 0px -75px; BORDER-LEFT: #7dc3ed 1px solid; BORDER-BOTTOM: #7dc3ed 1px solid; POSITION: absolute
}
.more A {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: 70px; TEXT-DECORATION: none
}
.more A:hover {
	BACKGROUND: #3366cc; COLOR: #fff; text-decration: none
}
.more LI {
	CLEAR: right; FLOAT: none; WIDTH: 70px; LINE-HEIGHT: 22px; LIST-STYLE-TYPE: none
}
.szym_bg {
	BACKGROUND:  no-repeat 0px 0px; WIDTH: 95px
}
.cW {
	COLOR: #fff
}
A.cW:link {
	COLOR: #fff
}
A.cW:visited {
	COLOR: #fff
}
.tb_tq TD {
	WHITE-SPACE: nowrap
}
.nav_css2 {
	CURSOR: pointer
}
#sz_tips {
	Z-INDEX: 1; FILTER: dropshadow(color=gray,offx=3,offy=3,positive=1); LEFT: 908px; WIDTH: 219px; POSITION: absolute; TOP: 35px; HEIGHT: 66px
}
.sz_text {
	MARGIN: 15px 1px 8px 0px
}
.hand {
	CURSOR: pointer
}
.tb_int1 {
	HEIGHT: 17px
}
.l {
	FLOAT: left
}
.box6 {
	BORDER-RIGHT: #ace 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ace 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; BACKGROUND: #edf6ff; PADDING-BOTTOM: 8px; MARGIN: 5px 0px; OVERFLOW: auto; BORDER-LEFT: #ace 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #ace 1px solid; ZOOM: 1
}
.box6 STRONG {
	FONT-SIZE: 14px
}
.f18 {
	FONT: bold 14px/22px Verdana
}
.wea60 {
	MARGIN: 0px 10px
}
.box7 {
	CLEAR: both; TEXT-ALIGN: left
}
.box7 P {
	BORDER-RIGHT: #ace 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ace 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; MARGIN: -5px 0px 5px; FONT: 12px/18px Verdana; BORDER-LEFT: #ace 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #ace 1px solid; TEXT-ALIGN: left
}
.box7 P SPAN {
	COLOR: #00f
}
#wth_f {
	BORDER-RIGHT: #ace 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ace 1px solid; PADDING-LEFT: 8px; BACKGROUND: #fff; FILTER: alpha(opacity=93); LEFT: 240px; PADDING-BOTTOM: 8px; BORDER-LEFT: #ace 1px solid; WIDTH: 500px; PADDING-TOP: 8px; BORDER-BOTTOM: #ace 1px solid; POSITION: absolute; TOP: 100px; moz-opacity: .93; opacity: 0.93
}
.lv {
	COLOR: green
}
.no1_weather {
	COLOR: #00cc00
}
.no3_weather {
	COLOR: #cc0000
}
.box7 STRONG {
	TEXT-ALIGN: left
}
.right_text {
	MARGIN-LEFT: 10px
}
#set {
	Z-INDEX: 100; LEFT: 990px; WIDTH: 316px; POSITION: absolute; TOP: 30px; HEIGHT: 327px
}
.dhbar2 {
	CURSOR: pointer
}
#his {
	PADDING-LEFT: 25px; HEIGHT: 36px; TEXT-ALIGN: left
}
#his A {
	LINE-HEIGHT: 21px; MARGIN-RIGHT: 20px
}
.ska DIV {
	FONT-SIZE: 0px; FLOAT: left; MARGIN-BOTTOM: 2px; WIDTH: 10px; CURSOR: pointer; HEIGHT: 9px
}
.b {
	BACKGROUND:  no-repeat 0px center; MARGIN-LEFT: 2px
}
.g {
	BACKGROUND:  no-repeat -10px center; MARGIN-LEFT: 6px
}
.r {
	BACKGROUND:  no-repeat -20px center; MARGIN-LEFT: 6px
}
.right_text A {
	DISPLAY: inline-block; MARGIN-LEFT: 6px; MARGIN-RIGHT: 4px
}
.paplfont {
	PADDING-LEFT: 6px
}
.dh_bbk UL {
	DISPLAY: inline-block
}
.hot{font-size:12px;text-align:left;padding-left:10px;}
.left3_body {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; BORDER-BOTTOM: #7dc7ed 1px solid;height:106px;
}
.brodd1{border-right: 1px solid #7dc7ed;border-bottom: 1px solid #7dc7ed;}
.brodd1 td{border-top: 1px solid #7dc7ed;border-left: 1px solid #7dc7ed;}
#best-r {
width:100%;
float:left;
}
#bests li {
width:120px;
float:left;
text-align:center;
overflow:hidden;
white-space:nowrap;}
#bests li a {margin:0 3px;}
#bests li * {font-size:14px;}
#udu {margin-top:-3px;}
#udu input {
margin-bottom:-3px;
border:none;
border-bottom:1px solid #aaa;
float:left;
margin-left:5px;}
#udu li {
position:relative;
height:30px;}
#udu li ul li a {
position:relative;
height:30px;}
.no-udu {border:none;}
#udu li#edit-udu {
width:98%;
margin-top:-1px;
display:none;
padding-top:3px;background-color: #7D9EC0;
}
#udu li ul li a.udu-edit {
position:absolute;
margin-top:4px;
margin-left:2px;
background:none!important;
display:block;
width:9px;
height:9px;
overflow:hidden;}
#udu li ul li a.udu-edit {background: -46px -430px!important;}
#udu-save {
display:inline-block;
margin:5px 5px 0 0;
width:14px;
height:14px;
overflow:hidden;
background: -29px -430px;
}
#udu-canc {
display:inline-block;
margin:5px 5px 0 0;
width:14px;
height:14px;
overflow:hidden;
background: -14px -429px;
}
#udu-rest {
display:inline-block;
margin:5px 5px 0 0;
width:14px;
height:14px;
overflow:hidden;
background: 1px -429px;
margin-left:5px;
}
.allwidth {
	WIDTH: 950px
}
.mail2008 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.logosty {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: ; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 91px
}
.logo_left {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND:  no-repeat center 50%; PADDING-BOTTOM: 0px; WIDTH: 240px; PADDING-TOP: 0px
}
.logo_right {
	PADDING-BOTTOM: 15px
}
.logo_dash {
	BORDER-RIGHT: #51adcf 1px dashed
}
.logo_close {
	FONT-SIZE: 12px; BACKGROUND:  no-repeat left center; WIDTH: 18px; HEIGHT: 66px
}
.header_cen1 {
	BACKGROUND:  repeat-x; WIDTH: 950px; HEIGHT: 41px
}
.tb_link {
	FONT-WEIGHT: bold; BACKGROUND:  no-repeat 50% bottom; PADDING-BOTTOM: 2px; COLOR: #fff
}
.tb_bg {
	FONT-WEIGHT: bold; BACKGROUND:  no-repeat 50% bottom; PADDING-BOTTOM: 4px; COLOR: #295d5b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tb_right {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.header_cen2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND:  repeat-x; PADDING-BOTTOM: 4px; WIDTH: 950px; PADDING-TOP: 4px; HEIGHT: 70px
}
.header_cen2 LI {
	FLOAT: left; TEXT-ALIGN: left
}
.sewid {
	PADDING-LEFT: 30px; WIDTH: 450px
}
.ggwid {
	LINE-HEIGHT: 35px
}
.ff_kk {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 310px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 25px
}
.barsty {
	BORDER-RIGHT: #d2d5d6 1px solid; BORDER-TOP: #d2d5d6 1px solid; PADDING-LEFT: 15px; BACKGROUND:  repeat-x; MARGIN-BOTTOM: 8px; BORDER-LEFT: #d2d5d6 1px solid; WIDTH: 950px; COLOR: #4b6477; BORDER-BOTTOM: #d2d5d6 1px solid; FONT-FAMILY: "̎ͥ"; HEIGHT: 31px; TEXT-ALIGN: left
}
.Qblue {
	COLOR: #4b6477
}
A.Qblue:link {
	COLOR: #4b6477
}
A.Qblue:visited {
	COLOR: #4b6477
}
.main {
	MARGIN-BOTTOM: 8px; WIDTH: 950px
}
.main_left {
	FLOAT: right; WIDTH: 730px
}
.main_left1 {
	FLOAT: left; WIDTH: 730px
}
.left_nav {
	HEIGHT: 25px
}
.left_nav1 {
	FLOAT: left
}
.left_nav1 LI {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; FLOAT: left; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 70px; LINE-HEIGHT: 24px; MARGIN-RIGHT: 6px; BORDER-BOTTOM: #7dc7ed 0px solid; HEIGHT: 24px
}
.nav_css1 {
	BACKGROUND:  no-repeat left top; COLOR: #aaaaaa
}
.nav_css2 {
	COLOR: #4b6477
}
.left1_body {
	BORDER-RIGHT: #7dc7ed 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7dc7ed 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-LEFT: #7dc7ed 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #7dc7ed 1px solid
}
.left1_text TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 27px; BORDER-BOTTOM: #e6e6e6 1px dashed; HEIGHT: 27px; TEXT-ALIGN: center
}
.mzgg {
	BORDER-TOP: #7dc7ed 1px solid; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.main_left2 {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: 730px
}
.left2_nav {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: #7dc7ed 0px solid; HEIGHT: 24px
}
.left2_navl {
	BACKGROUND:  no-repeat left top; FLOAT: left; WIDTH: 70px; COLOR: #ffffff
}
.left2_navr {PADDING-RIGHT: 10px; FLOAT: right}
.iframe{PADDING-top: 6px;}
.left2_body {
	BORDER-RIGHT: #7dc7ed 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7dc7ed 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; BORDER-LEFT: #7dc7ed 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #7dc7ed 1px solid
}
.left2_text TD {
	FONT-SIZE: 13px; LINE-HEIGHT: 27px; HEIGHT: 27px
}
.text_bar1 {
	BACKGROUND-COLOR: #eff7ff
}
.cBlue1 {
	FONT-SIZE: 13px; COLOR: #0075bf
}
A.cBlue1:link {
	FONT-SIZE: 13px; COLOR: #0075bf
}
A.cBlue1:visited {
	FONT-SIZE: 13px; COLOR: #0075bf
}
.cBlue2 {
	FONT-SIZE: 14px; COLOR: #0000ff
}
A.cBlue2:link {
	FONT-SIZE: 14px; COLOR: #0000ff
}
A.cBlue2:visited {
	FONT-SIZE: 14px; COLOR: #0000ff
}
.main_right {
	FLOAT: left; WIDTH: 215px
}
.right_nav {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: #7dc7ed 0px solid; HEIGHT: 24px
}
.right_navl {
	BACKGROUND:  no-repeat left top; FLOAT: left; WIDTH: 70px; COLOR: #ffffff
}
.right_body {
	BORDER-RIGHT: #7dc7ed 1px solid; PADDING-RIGHT: 10px! important; BORDER-TOP: #7dc7ed 1px solid; PADDING-LEFT: 10px! important; PADDING-BOTTOM: 5px! important; BORDER-LEFT: #7dc7ed 1px solid; PADDING-TOP: 7px! important; BORDER-BOTTOM: #7dc7ed 1px solid
}
.right_hr {
	BACKGROUND:  repeat-x; FLOAT: left; WIDTH: 90%; HEIGHT: 16px
}
.right_text TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 28px; TEXT-ALIGN: left
}
.paplfont {
	FONT-WEIGHT: bold; COLOR: #007ccb
}
.foot_search {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 950px; BORDER-BOTTOM: #7dc7ed 1px solid
}
.foot_search1 {
	BACKGROUND:  repeat-x; WIDTH: 100%
}
.foot_search1 TR {
	LINE-HEIGHT: 29px; HEIGHT: 29px
}
.foot_search1 TD {
	BORDER-LEFT: #7dc7ed 1px solid
}
.foot_search2 {
	BACKGROUND:  repeat-x; WIDTH: 100%; LINE-HEIGHT: 62px; HEIGHT: 62px
}
.dffw {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 950px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 24px
}
.dffw_navl {
	BACKGROUND:  no-repeat left top; FLOAT: left; WIDTH: 70px; COLOR: #ffffff
}
.dffw_body {
	FLOAT: right; WIDTH: 860px; TEXT-ALIGN: left
}
.allser {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; BORDER-BOTTOM: #7dc7ed 1px solid; TEXT-ALIGN: left
}
.syline {
	LINE-HEIGHT: 27px; BORDER-BOTTOM: #e6e6e6 1px dashed; HEIGHT: 27px
}
.syser {
	BACKGROUND:  no-repeat center center; WIDTH: 85px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.cyser {
	BACKGROUND:  no-repeat center center; WIDTH: 85px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.syss {
	WIDTH: 85px; HEIGHT: 27px; TEXT-ALIGN: center
}
.footss {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 0px solid; BORDER-LEFT: #7dc7ed 1px solid; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 58px; BACKGROUND-COLOR: #eaf6fd
}
.footss_kw {
	WIDTH: 390px; TEXT-ALIGN: center
}
.footss TD {
	FONT-SIZE: 13px
}
.footss_kk {
	BORDER-RIGHT: #86a5c1 1px solid; BORDER-TOP: #86a5c1 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #86a5c1 1px solid; WIDTH: 240px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #86a5c1 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.secfont14 {
	MARGIN-BOTTOM: 15px; WIDTH: 950px
}
.secfont14 TD {
	FONT-SIZE: 14px
}
.secbar {
	BACKGROUND: #e4f2f8
}
.list_zt {
	FONT-SIZE: 13px; MARGIN-LEFT: 20px; WIDTH: 100px; COLOR: #fff; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #4fafdf; TEXT-ALIGN: center
}
.bordd1 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-BOTTOM: #7dc7ed 1px solid; TEXT-ALIGN: left
}
.bordd1 TD {
	BORDER-TOP: #7dc7ed 1px solid; PADDING-LEFT: 20px; BORDER-LEFT: #7dc7ed 1px solid; HEIGHT: 36px
}
.bordd2 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; HEIGHT: 24px
}
.secbg {
	BACKGROUND: #eff7ff
}
.sskuang {
	MARGIN: 0px auto; WIDTH: 950px
}
.sshead {
	MARGIN-TOP: 3px
}
.ssdh {
	BACKGROUND:  no-repeat 96px 0px; FLOAT: left; WIDTH: 630px
}
.ssnav {
	FONT-SIZE: 14px; MARGIN-LEFT: 26px; WIDTH: 600px
}
.ssnav LI {
	FLOAT: left; MARGIN: 0px 4px 0px 0px; OVERFLOW: visible; WIDTH: 68px; LINE-HEIGHT: 23px; POSITION: relative; HEIGHT: 23px
}
.ssnav LI SPAN IMG {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.ssnav1 {
	BORDER-RIGHT: #6fb8ea 1px solid; BORDER-TOP: #6fb8ea 1px solid; FONT-WEIGHT: bold; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #6fb8ea 1px solid; COLOR: #fff; BORDER-BOTTOM: #6fb8ea 0px solid
}
.ssnav2 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7dc7ed 1px solid; BORDER-BOTTOM: #7dc7ed 0px solid
}
.ssnav LI A:link {
	DISPLAY: block; COLOR: #040404
}
.ssnav LI A:visited {
	DISPLAY: block; COLOR: #040404
}
.ssnav LI A:hover {
	BACKGROUND:  repeat-x 0px 0px; COLOR: #fd2828; TEXT-DECORATION: none
}
.ssnav1 IMG {
	DISPLAY: block; BACKGROUND:  no-repeat 0px 0px; LEFT: 40%; POSITION: absolute; TOP: 23px
}
.ssnav2 IMG {
	DISPLAY: none
}
.ssdate {
	FLOAT: right; LINE-HEIGHT: 24px
}
.ssbody {
	BORDER-RIGHT: #7dc3ed 1px solid; BORDER-TOP: #7dc3ed 1px solid; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7dc3ed 1px solid; WIDTH: 948px; BORDER-BOTTOM: #7dc3ed 1px solid; HEIGHT: 50px
}
.sstb {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.sskbg {
	BORDER-RIGHT: #86a5c1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #86a5c1 1px solid; PADDING-LEFT: 0px; BACKGROUND:  repeat-x 0px 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: #86a5c1 1px solid; WIDTH: 405px; PADDING-TOP: 5px; BORDER-BOTTOM: #86a5c1 1px solid
}
.ssbutton {
	DISPLAY: block; FONT-SIZE: 14px; BACKGROUND:  repeat-x 0px 0px; FLOAT: left; WIDTH: 88px; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 26px; HEIGHT: 24px; TEXT-ALIGN: center
}
.ssbutton:hover {
	BACKGROUND:  repeat-x 0px 0px; COLOR: #000; TEXT-DECORATION: none
}
.font66 {
	COLOR: #666666
}
A.font66:link {
	COLOR: #666666
}
A.font66:visited {
	COLOR: #666666
}
A.font66:hover {
	COLOR: #fd2828; TEXT-DECORATION: none
}
.tjl {
	BACKGROUND:  repeat-x center top; MARGIN: 0px auto; WIDTH: 950px; LINE-HEIGHT: 32px; marging-bottom: 3px
}
.tjl A:link {
	COLOR: #666666
}
.tjl A:unknown {
	COLOR: #666666
}
.tjl A:hover {
	COLOR: #fd2828; TEXT-DECORATION: none
}
.tb_rt {
	FLOAT: right
}
.tb_kkbg {
	BACKGROUND:  no-repeat 0px 0px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 314px; MARGIN-RIGHT: 12px; HEIGHT: 70px
}
.tb_tq {
	FLOAT: left; MARGIN: 6px 8px 0px; COLOR: #fff; FONT-FAMILY: "̎ͥ"; TEXT-ALIGN: left
}
.tb_tq IMG {
	WIDTH: 50px; HEIGHT: 50px
}
.tb_tq A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.tb_tq A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.tb_mail {
	MARGIN: 8px 3px 0px 12px; COLOR: #fff; TEXT-ALIGN: left
}
.tb_int1 {
	WIDTH: 88px
}
.tb_int2 {
	WIDTH: 124px
}
.tb_int3 {
	WIDTH: 106px
}
.szym_bg1 {
	BACKGROUND:  no-repeat 0px 0px; WIDTH: 95px
}
.n_ss {
	MARGIN: 0px auto; WIDTH: 950px
}
.n_head {
	MARGIN-TOP: 3px; BACKGROUND:  no-repeat 0px 0px; HEIGHT: 26px
}
.n_nav {
	PADDING-LEFT: 18px; FONT-SIZE: 14px; FLOAT: left
}
.n_nav1 LI {
	FLOAT: left; WIDTH: 77px; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.n_nav1 LI IMG {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.n_nav1 LI A {
	DISPLAY: block; TEXT-DECORATION: none
}
.n_bt {
	FONT-WEIGHT: bold; BACKGROUND:  no-repeat 0px 0px
}
.n_right {
	FLOAT: right; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.n_body {
	CLEAR: both; BORDER-RIGHT: #7fc3ec 1px solid; BORDER-TOP: #7fc3ec 0px solid; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7fc3ec 1px solid; WIDTH: 948px; PADDING-TOP: 7px; BORDER-BOTTOM: #7fc3ec 1px solid; HEIGHT: 76px
}
.n_sskbg {
	BORDER-RIGHT: #86a5c1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #86a5c1 1px solid; PADDING-LEFT: 0px; BACKGROUND:  repeat-x 0px 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: #86a5c1 1px solid; WIDTH: 335px; PADDING-TOP: 5px; BORDER-BOTTOM: #86a5c1 1px solid
}
.n_tjl {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND:  repeat-x 0px 0px; MARGIN: 8px auto; WORD-SPACING: 3px; BORDER-LEFT: #ccc 1px solid; WIDTH: 948px; LINE-HEIGHT: 27px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: verdana; HEIGHT: 27px
}
.n_wid1 {
	WIDTH: 80px; HEIGHT: 35px
}
.n_wid2 {
	WIDTH: 350px
}
.n_wid3 {
	WIDTH: 100px
}
.more {
	BORDER-RIGHT: #7dc3ed 1px solid; BORDER-TOP: #7dc3ed 1px; MARGIN: 25px 0px 0px -115px; BORDER-LEFT: #7dc3ed 1px solid; BORDER-BOTTOM: #7dc3ed 1px solid
}
.syss1 {
	WIDTH: 85px; HEIGHT: 27px; TEXT-ALIGN: center
}
.syssa {
	MARGIN-TOP: 2px; BACKGROUND: #4ea9de; WIDTH: 61px; COLOR: #fff; LINE-HEIGHT: 17px; HEIGHT: 17px
}
.n_wid4 {
	BACKGROUND:  no-repeat 0px 0px; WIDTH: 94px; HEIGHT: 37px
}
.dh_info {
	MARGIN: 5px auto; WIDTH: 950px
}
.dh_bar {
	BACKGROUND:  no-repeat 0px 0px; HEIGHT: 26px
}
.dhbar_l {
	FLOAT: left
}
.dhbar_l LI {
	FONT-SIZE: 14px; FLOAT: none; LINE-HEIGHT: 25px; MARGIN-RIGHT: 14px
}
.dhbar_l LI A {
	DISPLAY: block; TEXT-DECORATION: none
}
.dhbar1 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; FONT-WEIGHT: bold; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 126px; BORDER-BOTTOM: #7dc7ed 0px solid; HEIGHT: 25px
}
.dhbar2 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 226px; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 24px
}
.dhbar_r {
	FLOAT: right
}
.dh_body {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 0px solid; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 948px; BORDER-BOTTOM: #7dc7ed 1px solid
}
.dh_bbk {
	PADDING-RIGHT: 5px; PADDING-LEFT: 18px; FILTER: dropshadow(color=#C6CDD0,offx=1,offy=1,positive=1); PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.dh_bbk LI {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; FLOAT: left; MARGIN-BOTTOM: 6px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 210px; LINE-HEIGHT: 34px; MARGIN-RIGHT: 19px; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 34px; BACKGROUND-COLOR: #fff
}
.dh_bbk LI A {
	DISPLAY: block; TEXT-DECORATION: none
}
.dh_bbk LI {
	COLOR: #424141
}
.dh_bbk LI A:link {
	COLOR: #424141
}
.dh_bbk LI A:visited {
	COLOR: #424141
}
.dh_bbk LI A:hover {
	COLOR: #424141
}
.bbk_zt {
	FONT-SIZE: 13px; BACKGROUND:  no-repeat 0px 0px; FLOAT: left; WIDTH: 106px; COLOR: #fff; LINE-HEIGHT: 24px
}
.db_bg {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; BACKGROUND:  repeat-x; BORDER-LEFT: #7dc7ed 1px solid; COLOR: #7dc7ed; LINE-HEIGHT: 29px; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 29px
}
.db_kk {
	FILTER: dropshadow(color=#C6CDD0,offx=1,offy=1,positive=1); MARGIN: 10px auto; HEIGHT: 29px
}
.db_anniu1 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; DISPLAY: block; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 90px; CURSOR: pointer; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 26px
}
.db_anniu1:hover {
	BORDER-RIGHT: #63b4de 1px solid; BORDER-TOP: #63b4de 1px solid; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #63b4de 1px solid; BORDER-BOTTOM: #63b4de 1px solid
}
.db_anniu2 {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; DISPLAY: block; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 90px; CURSOR: pointer; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 26px
}
.db_anniu2:hover {
	BORDER-RIGHT: #63b4de 1px solid; BORDER-TOP: #63b4de 1px solid; BACKGROUND:  repeat-x 0px 0px; BORDER-LEFT: #63b4de 1px solid; BORDER-BOTTOM: #63b4de 1px solid
}
#slt {
	Z-INDEX: 1; LEFT: 656px; WIDTH: 351px; POSITION: absolute; TOP: 398px; HEIGHT: 356px
}
.slt_l {
	Z-INDEX: 20; BACKGROUND:  no-repeat 0px 0px; WIDTH: 21px; POSITION: absolute; HEIGHT: 15px
}
.slt_l2 {
	Z-INDEX: 20; BACKGROUND:  no-repeat -21px 0px; WIDTH: 21px; POSITION: absolute; HEIGHT: 15px
}
.slt_l3 {
	Z-INDEX: 20; BACKGROUND:  no-repeat -42px 0px; WIDTH: 21px; POSITION: absolute; HEIGHT: 15px
}
.slt_r {
	BORDER-RIGHT: #7dc7ed 1px solid; BORDER-TOP: #7dc7ed 1px solid; MARGIN-LEFT: 20px; BORDER-LEFT: #7dc7ed 1px solid; WIDTH: 328px; BORDER-BOTTOM: #7dc7ed 1px solid; HEIGHT: 350px; BACKGROUND-COLOR: #fff
}
.hpl {
	FONT-WEIGHT: bold; FONT-SIZE: 36px; COLOR: #43b501; LINE-HEIGHT: 36px
}
